@use 'variables' as *;

.display-lg {
  font-family: $font-family;
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  line-height: 52px;
  letter-spacing: -0.02em;
}

.headline-lg {
  font-family: $font-family;
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  line-height: 40px;
}

.headline-md {
  font-family: $font-family;
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  line-height: 32px;
}

.title-lg {
  font-family: $font-family;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: 28px;
}

.body-lg {
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: 24px;
}

.body-md {
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  line-height: 20px;
}

.label-md {
  font-family: $font-family;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
